body{
    background-color:rgb(246, 219, 224); 
    color: rgb(75, 104, 89);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1{
    color: rgb(32, 40, 36);
    font-family: "Playwrite AT", cursive;
}

h3{
    color: rgb(32, 40, 36);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.border{
    color: rgb(91, 55, 62);
    border: 2px solid rgb(190, 108, 123);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(206, 149, 159);
}

nav{
    background-color: rgb(246, 219, 224);
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

nav:hover{
    color:rgb(190, 108, 123);
}


#selfie{
    padding: 10px;
}