body{
    background-color:rgb(246, 219, 224); 
    color: rgb(75, 104, 89);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2{
    color: rgb(32, 40, 36);
    font-family: "Playwrite AT", cursive;
}

h3{
    color: rgb(32, 40, 36);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}